<div class="row">
    <div class="col-4 mb-10" *ngFor="let checkList of checkLists; let i=index;">
        <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" class="compact-card">
            <nb-card-header>
                {{checkList.shop.__toString()}}
                <span class="float-right {{ checkList.getStatusCssClass() }}">
                    {{ checkList.getStatusLabel() }}
                </span>
            </nb-card-header>
            <nb-card-body>
                <div style="font-size:60px; color: gray; margin: 30px;">{{checkList.checkListItems.length}}</div>
                <small>Item{{checkList.checkListItems.length?"s":""}}</small>
            </nb-card-body>
            <nb-card-footer>
                <button fullWidth [routerLink]="['/check-lists/checkup', checkList.getSlug()]" size="tiny" class="float-right" nbButton outline status="success">Checkup</button>
            
                
            </nb-card-footer>
        </nb-card>
    </div>
</div>