<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">

        <div class="col-md-6 offset-md-3 flex-card">
            <nb-card>
                <nb-card-header>
                    {{worker.id?'Update existing worker':'Create new worker'}}
                    <nb-toggle class="float-right" formControlName="isEnabled">Is enabled </nb-toggle>
                </nb-card-header>
                <nb-card-body>
                    <div class="form-group">
                        <batiste-file-popup-trigger style="position: relative;" [auto]="true"
                            [config]="{type: PROFILE_IMAGE_TYPE, params: {isImage: 1}}"
                            class="document document-icon-only" [multiple]="false"
                            (onSelectFiles)="onSelectLogo($event)">
                            <button *ngIf="worker.profileImage" style="font-size: 10px; position: absolute; right:5px;"
                                (click)="removeLogo()" type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <nb-icon *ngIf="!worker.profileImage" status="basic" icon="plus-outline"></nb-icon>
                            <a target="_blank" *ngIf="worker.profileImage" href="#">
                                <img class="img-fluid" [src]="worker.profileImage.getUrl()"
                                    alt="{{ worker.profileImage.getDisplayedName() }}" />
                            </a>
                        </batiste-file-popup-trigger>
                        <br />
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card>
                <nb-card-body>
                    <div class="row">
                        <div class="col">

                            <div class="form-group">
                                <label for="email">email</label>
                                <input fieldSize="small" id="email" nbInput fullWidth formControlName="email" />
                            </div>

                            <div class="form-group">
                                <label for="fullName">full name</label>
                                <input fieldSize="small" id="fullName" nbInput fullWidth formControlName="fullName" />
                            </div>

                            <div class="form-group">
                                <label for="password">password</label>
                                <input type="password" fieldSize="small" id="password" nbInput fullWidth
                                    formControlName="password" />
                            </div>

                            <div class="form-group">
                                <label for="phone">phone</label>
                                <input fieldSize="small" id="phone" nbInput fullWidth formControlName="phone" />
                            </div>
                        </div>
                    </div>
                </nb-card-body>
                <nb-card-footer>

                    <button size="tiny" status="success" nbButton type="submit" [disabled]="!form.valid">
                        {{worker.id?'Update':'Save'}}
                    </button>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</form>