// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes";

$nb-themes: nb-register-theme(
  (

    layout-padding-top: 2.25rem,
    menu-item-icon-width: 25px,
    menu-item-icon-margin: 0 0.5rem 0 0,
  
    color-primary-100: #E1E1F6,
    color-primary-200: #C4C4EE,
    color-primary-300: #9797CD,
    color-primary-400: #68689B,
    color-primary-500: #323259,
    color-primary-600: #24244C,
    color-primary-700: #191940,
    color-primary-800: #0F0F33,
    color-primary-900: #09092A,
    color-primary-transparent-100: rgba(50, 50, 89, 0.08),
    color-primary-transparent-200: rgba(50, 50, 89, 0.16),
    color-primary-transparent-300: rgba(50, 50, 89, 0.24),
    color-primary-transparent-400: rgba(50, 50, 89, 0.32),
    color-primary-transparent-500: rgba(50, 50, 89, 0.4),
    color-primary-transparent-600: rgba(50, 50, 89, 0.48),
    color-success-100: #C9F5F8,
    color-success-200: #96E5F2,
    color-success-300: #5EC0DA,
    color-success-400: #3492B5,
    color-success-500: #075a84,
    color-success-600: #054671,
    color-success-700: #03345F,
    color-success-800: #02254C,
    color-success-900: #011A3F,
    color-success-transparent-100: rgba(7, 90, 132, 0.08),
    color-success-transparent-200: rgba(7, 90, 132, 0.16),
    color-success-transparent-300: rgba(7, 90, 132, 0.24),
    color-success-transparent-400: rgba(7, 90, 132, 0.32),
    color-success-transparent-500: rgba(7, 90, 132, 0.4),
    color-success-transparent-600: rgba(7, 90, 132, 0.48),
    color-info-100: #D1E4FD,
    color-info-200: #A4C6FC,
    color-info-300: #75A4F7,
    color-info-400: #5286EF,
    color-info-500: #1D59E5,
    color-info-600: #1544C4,
    color-info-700: #0E32A4,
    color-info-800: #092284,
    color-info-900: #05176D,
    color-info-transparent-100: rgba(29, 89, 229, 0.08),
    color-info-transparent-200: rgba(29, 89, 229, 0.16),
    color-info-transparent-300: rgba(29, 89, 229, 0.24),
    color-info-transparent-400: rgba(29, 89, 229, 0.32),
    color-info-transparent-500: rgba(29, 89, 229, 0.4),
    color-info-transparent-600: rgba(29, 89, 229, 0.48),
    color-warning-100: #FBEEC9,
    color-warning-200: #F7D994,
    color-warning-300: #E7B75D,
    color-warning-400: #CF9334,
    color-warning-500: #AF6401,
    color-warning-600: #964F00,
    color-warning-700: #7D3C00,
    color-warning-800: #652C00,
    color-warning-900: #532100,
    color-warning-transparent-100: rgba(175, 100, 1, 0.08),
    color-warning-transparent-200: rgba(175, 100, 1, 0.16),
    color-warning-transparent-300: rgba(175, 100, 1, 0.24),
    color-warning-transparent-400: rgba(175, 100, 1, 0.32),
    color-warning-transparent-500: rgba(175, 100, 1, 0.4),
    color-warning-transparent-600: rgba(175, 100, 1, 0.48),
    color-danger-100: #FAD6CD,
    color-danger-200: #F5A79D,
    color-danger-300: #E16B68,
    color-danger-400: #C3404A,
    color-danger-500: #9B1128,
    color-danger-600: #850C2B,
    color-danger-700: #6F082D,
    color-danger-800: #59052B,
    color-danger-900: #4A0329,
    color-danger-transparent-100: rgba(155, 17, 40, 0.08),
    color-danger-transparent-200: rgba(155, 17, 40, 0.16),
    color-danger-transparent-300: rgba(155, 17, 40, 0.24),
    color-danger-transparent-400: rgba(155, 17, 40, 0.32),
    color-danger-transparent-500: rgba(155, 17, 40, 0.4),
    color-danger-transparent-600: rgba(155, 17, 40, 0.48),
    menu-item-padding:	1rem
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,
  ),
  cosmic,
  cosmic
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  corporate,
  corporate
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  dark,
  dark
);
